#development environment
server:
  port: 8080
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: Qianhun
    key-store-type: PKCS12
    key-alias: qianhun


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/${database.name}
    username: qianhun
    password: 123456
    driver: com.mysql.cj.jdbc.Driver
    options: ?useUnicode=true&characterEncoding=utf-8&useSSL=false

  jackson:
    mapper:
      ACCEPT_CASE_INSENSITIVE_PROPERTIES: true

  mail:
      host: smtp.qq.com
      #发送者邮箱
      username: ronin_sword@foxmail.com
      #配置密码,注意不是真正的密码，而是刚刚申请到的授权码
      password:
      #端口号465或587
      port: 587
      #默认的邮件编码为UTF-8
      default-encoding: UTF-8
      #协议
      protocol: smtp
      #其他参数
      properties:
        mail:
          #配置SSL 加密工厂
          smtp:
            ssl:
              #本地测试，先放开ssl
              enable: false
              required: false
            #开启debug模式，这样邮件发送过程的日志会在控制台打印出来，方便排查错误
          debug: false


database:
  name: dev

tableName: #拼写sql语句时表名更直观
  testPath: forTest

mybatis:
  resource: mybatis-config.xml

