<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unity_backend.Dao.User.Register.RegisterMapper">
    <sql id="baseColumn">
        Username
    </sql>

    <select id="getUserByUserName" resultType="com.example.unity_backend.Entity.User">
        select * from users where Username= #{username}
    </select>

    <select id="getUserByMailAddress" resultType="com.example.unity_backend.Entity.VerifyCode">
        select * from verifycode where MailAddress= #{mail}
    </select>



    <insert id="upsertVerifyCode" parameterType="map">
        INSERT INTO verifycode
        (MailAddress, Code, ExpiresAt, MailStatus)
        VALUES
        (#{mail}, #{code}, #{expire, jdbcType=TIMESTAMP}, 1)
        ON DUPLICATE KEY UPDATE
        Code      = VALUES(Code),
        ExpiresAt = VALUES(ExpiresAt),
        MailStatus= 1
    </insert>

    <insert id="newUser">
        Insert into users
        (MailAddress,Username,Password,NickName,changeNicknameCoolTime)
        values
        (#{mail},#{name},#{password},#{NickName},0)
    </insert>

    <insert id="newUserRole">
        Insert into userroles
        (Username,RoleID)
        values
        (#{username},#{roleid})
    </insert>

    <select id="getVerifyCodebyMail" resultType="com.example.unity_backend.Entity.VerifyCode">
        select * from verifycode where MailAddress= #{mail}
    </select>

    <update id="mailConfirm">
        update verifycode
        set MailStatus='3'
        where MailAddress=#{mail}
    </update>

    <update id="setNickname">
        update users
        set NickName=#{NickName}
        where UserName=#{username}
    </update>
</mapper>