<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unity_backend.Dao.Record.RecordMapper">

    <select id="getAllGameRecord" resultType="com.example.unity_backend.Entity.GameRecord">
        select * from gamerecords where Username= #{username} and Level=#{level} order by PlayTime DESC
    </select>

    <select id="getAllMaxUpdateGameRecord" resultType="com.example.unity_backend.Entity.GameRecord">
        select * from gamerecords where Username= #{username} and isMaximumUpdate = "1" and Level=#{level} order by PlayTime DESC
    </select>

    <select id="getMaxGrade" resultType="java.lang.Float">
        select COALESCE(MIN(Grade), -1) from gamerecords where Username=#{username}
    </select>

    <insert id="newGameRecord" useGeneratedKeys="true" keyProperty="RecordID">
        insert into gamerecords
        (UserName,PlayTime,costTime,Level)
        values
        (#{UserName},#{PlayTime},#{costTime},#{level})
    </insert>

    <update id="setMaxRecordHistory" >
        update gamerecords
        set isMaximumUpdate=1
        where RecordID=#{RecordID}
    </update>

    <select id="getMincostTime" resultType="java.lang.Float">
        select COALESCE(MIN(costTime), -1) from gamerecords where Username=#{username} and Level=#{level}
    </select>
</mapper>
